@page "/about"

<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About this page</h2>
            <p>This page is ment to be just an extension of my CV. I have been a developer for quite a few years now and I made this sort of page every few years. This time it's because of <a href="http://blazor.net" target="_blank">Blazor</a>.</p>
            <p>
                I have been working as a .NET developer most of my career and most of that time I was working as an ASP.NET developer. There were a lot of changes in .NET in the past years and I hope they continue on this path. But when
                I was developing a website in ASP.NET you couldn't get around doing some Javascript if you wanted to have a site that looks and feels a bit modern.
            </p>
            <p>
                Recently there is an emphasis of having more and more work offloaded to the client (eg. the browser). Because today any mobile phone or computer browser can handle some processing if needed. In addition this also helps lower the cost
                of servers because you just need to literally serve files to the client. I am actually hosting this page in Azure storage.
                Blazor does just that. You can write C# for the client side. And thanks to WebAssembly it should even be running faster then a javascript version of the page.
            </p>
        </div>
        <div class="section-title">
            <h2>About me</h2>
            <p>
                As I mentioned before I've been working most of my career as a .NET developer. Worked on a few public facing apps or the API for those apps, worked on internal applications of some companies. 
                I am not going to detail them here, you can find it under the resume section.
            </p>
            <p>
                I am very passionate about developing applications. I try to look up the newest technologies related to c#, .net, javascript, ops and try at least to have a "Hello world level" application created.
                If I have something to share I usually set that repo as public in my Github page (<a href="https://github.com/zsombix" target="_blank">Github</a>). There are much more repos there, but I don't think anyone cares about the code I produce while I am doing tutorials <i class="fa fa-smile-o"></i>.
                Looked into some OPS as well recently, with Docker and Azure. Cuurently the Back-End technology I am looking into and working with is GO (GoLang).
                I would like to have Blazor (or rather Webassembly that is behind Blazor WebAssembly) in the future be a technology that is used as much as javascript on the client side.
            </p>
            <p>
                In my spare time I like to go snowboarding if the weather allows it. When I'm stuck inside then I play some video games.
            </p>
        </div>
    </div>
</section>

@code {

}
