@page "/contact"

<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Well not much here but you can find my e-mail below.</p>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">                  

                    <div class="email">
                        <i class="fa fa-envelope"></i>
                        <h4>Email:</h4>
                        <p>vajda.zsombor@gmail.com</p>
                    </div>                    
                </div>
            </div>           

        </div>

    </div>
</section>

@code {

}
