@page "/resume"

<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Some Information about me... Actually it's mostly the contents of my CV.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Zsombor Vajda</h4>
                    <p><em>I am a Developer. It's not just my job, it's my passion.</em></p>
                    <ul>
                        <li>Budapest, Hungary</li>
                        <li>vajda.zsombor@google.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item  pb-0">
                    <h4>Master of Science in Computer Science</h4>
                    <h5>2010</h5>
                    <p><em>Eötvös Lóránt Tudomány Egyetem</em></p>
                    <p>I would prefer that my degree name would be same as in hungarian, because an MSc in Computer Science and Mathematics sais more about what I learned during those years.</p>
                    <p>My specializations:Multimedia, Geoinformatics, Mathematical logic, Law</p>
                </div>

                <h3 class="resume-title">Spoken languages</h3>
                <div class="resume-item extralist pb-0">
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <strong>Hungarian</strong> Mother tongue</li>
                        <li><i class="fa fa-angle-right"></i> <strong>English</strong> Proficient user</li>
                        <li><i class="fa fa-angle-right"></i> <strong>German</strong> Independent user</li>
                        <li><i class="fa fa-angle-right"></i> <strong>Serbian</strong> Independent user</li>
                    </ul>
                </div>

                <h3 class="resume-title">Programing languages, developer tools</h3>
                <div class="resume-item extralist pb-0">
                    <p><em>I am listing these from "I worked/work with them the most" to "I have touched that technology"</em></p>
                    <ul>
                        <li><i class="fa fa-angle-right"></i>C# (ASP.NET REST API, ASP.NET REST MVC, Entity Framework, Blazor, NUNIT, Silverlight, Winforms, WPF)</li>
                        <li><i class="fa fa-angle-right"></i>Html, CSS, JSON</li>
                        <li><i class="fa fa-angle-right"></i>Javascript (Typescript, Angular, Jquery, KnockoutJs, Jest)</li>
                        <li><i class="fa fa-angle-right"></i>GO or GoLang</li>
                        <li><i class="fa fa-angle-right"></i>Azure (App service, Function App, Insights, SQL server, Storage, IOT hub)</li>
                        <li><i class="fa fa-angle-right"></i>Docker</li>
                        <li><i class="fa fa-angle-right"></i>SQL (MS, Postgre, My)</li>
                        <li><i class="fa fa-angle-right"></i>Delphi</li>
                        <li><i class="fa fa-angle-right"></i>GIT, SVN</li>
                        <li><i class="fa fa-angle-right"></i>Jira, TFS</li>
                        <li><i class="fa fa-angle-right"></i>PHP</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior Software Engineer</h4>
                    <h5>June 2020 - Present</h5>
                    <p><em>DMG MORI HEITEC Digital Kft.</em></p>
                    <ul>
                        <li>I am a full stack developer utilizing Go, Angular, Azure IOT, Azure functions, Docker to develop Celos Next. Which is a companion app for DMG MORI milling machines.</li>
                        <li>Part of my responcibilities is to help junior developers with the issues they run into.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior .NET developer / Technical Lead</h4>
                    <h5>January 2016 - June 2020</h5>
                    <p><em>Grape Solutions Plc.</em></p>
                    <ul>
                        <li>Implementing .NET based, Silverlight, WCF, Web applications based on client requirements.</li>
                        <li>Worked on Web APIs in Azure that use Microsofts Bot framework for Viber and Netpincér.</li>
                        <li>Since march 2017 I was working as senior .Net developer on the WizzAir websites (<a href="http://wizzair.com" target="_blank">wizzair.com</a>) Back-end development team. Later that year I became a Technical team lead where I was responsible for checking planned features from a technical perspective and mentoring other developers.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>ASP.NET developer</h4>
                    <h5>May 2014 - December 2015</h5>
                    <p><em>Penceo Hungary Kft.</em></p>
                    <ul>
                        <li>Our responsibility is maintaining and developing the new version of the website (<a target="_blank" href="http://www.3x3planet.com">www.3x3planet.com</a>) aimed at players of the new sport, 3x3 of the International Basketball Federation (FIBA).</li>
                        <li>Part of my daily duties is maintaining the server (ASP.NET, SQL) and client-side code according to personal checks with the client. </li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Software developer</h4>
                    <h5>May 2013 - April 2014 </h5>
                    <p><em>Garbaroyal</em></p>
                    <ul>
                        <li>I was an outsourced ASP.NET MVC, C# developer at Quantis group.</li>
                        <li>We were developing software to be used by our coworkers, and for companies that are in contact with the Quantis group.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Software developer</h4>
                    <h5>July 2012 - May 2013 </h5>
                    <p><em>Avendata GmbH. Mof.</em></p>
                    <ul>
                        <li>ASP.NET MVC, C# developer. The company is active in the B2B branch, it is helping companies turn off their legacy systems by migrating their data, that has to be kept (data mining).</li>
                        <li>I was responsible for maintaining and implementing new features in the web application called viewbox, which was used in the above described operation.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Software developer</h4>
                    <h5>October 2008 - June 2012</h5>
                    <p><em>WBSnet</em></p>
                    <ul>
                        <li>I was a Delphi and C# (Winforms) developer.</li>
                        <li>I took part in the development of the software which was responsible for the communication between the hardware which was manufactured by the company and the computer. On side projects, which I worked on, there were some based on C#, which used WebServices and other WebAPI-s (Google translate, Google maps).</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Programmer</h4>
                    <h5>April 2007 - February 2008</h5>
                    <p><em>Grimlab</em></p>
                    <ul>
                        <li>Worked as a PHP and javascript developer.</li>
                        <li>I was responsible for implementing and maintaining the server side and javascript code of smaller web pages of the company (eg. sasadliget.hu, prestigecity.hu). Helped in maintaining some of the bigger projects (oc.hu, ingatlan.net). </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
