
<header id="header">
    <div class="d-flex flex-column">
        <div class="profile">
            <img src="images/profile.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="">Zsombor Vajda</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://www.linkedin.com/in/zsomborvajda/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/zsombix" target="_blank" class="github"><i class="fa fa-github"></i></a>
                <a href="https://www.facebook.com/zsombor.vajda.profile" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>

            </div>
        </div>

        <NavMenu Navmethod="@Navmethod" />
    </div>    
</header>

@code {
    [Parameter] public Action Navmethod { get; set; }
}
